* {
  font-family: poppins;
}
.navbar {
  text-align: right;
  width: 100%;
}
.jumbotron {
  background-color: orange;
  height: 25vh;
}
h1 {
  text-align: left;
  color: white;
  font-size: 48px;
}
.map {
  margin-top: 20px;
}
.directions {
  margin-top: 20px;
}
