* {
  font-family: poppins;
}
.navbar-nav ul {
  background-color: black;
}
li {
  padding: 12px;
}
.us {
  background-color: orange;
  height: 15vh;
  border-radius: 15px;
  margin-top: 90px;
}
h1 {
  text-align: left;
  color: white;
  font-size: 48px;
  margin-left: 30px;
}
.map {
  margin-top: 20px;
}
.directions {
  margin-top: 20px;
}
.fill {
  margin-top: 30px;
}
.contact {
  padding: 4%;
  height: 400px;
}
.col-md-3 {
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}
.line {
  height: 40px;
  color: red;
}
.mapouter {
  position: relative;
  text-align: right;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
}
/* footer */
.bg-grey {
  background: #292929;
}
footer {
  color: grey;
}
footer h6 {
  margin-bottom: 40px;
  position: relative;
}
footer h6:after {
  position: absolute;
  content: "";
  background: grey;
  width: 12%;
  height: 1px;
  left: 0;
  bottom: -20px;
}
.btn-footer {
  color: grey;

  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  padding: 7px 30px;
  line-height: 47px;
}
.btn-footer:hover {
  text-decoration: none;
}
.form-footer input[type="text"] {
  border: none;
  border-radius: 16px 0 0 16px;
  outline: none;
  padding-left: 10px;
}
.form-footer input[type="button"] {
  border: none;
  margin-left: -5px;
  color: #fff;
  outline: none;
  border-radius: 0 16px 16px 0;
  padding: 2px 12px;
}
.social .fa {
  color: grey;
  font-size: 22px;
  padding: 10px 15px;
  background: grey;
}
footer ul li {
  list-style: none;
  display: block;
}
footer ul {
  padding-left: 0;
}
footer ul li a {
  text-decoration: none;
  color: grey;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}
